.idea
**/.DS_Store
.ftpconfig
debug.log
wp-content/themes/cnmi-coaching-theme/.sass-cache/*
wp-content/themes/cnmi-coaching-theme/node_modules
wp-content/themes/cnmi-coaching-theme/style.css
wp-content/themes/cnmi-coaching-theme/maps/*

wp-content/plugins/11online-blocks/node_modules
node_modules
dist
cypress/videos/*
cypress/screenshots/*
cypress/e2e/examples/*
cypress/fixtures/*
