.tribe-events-shortcode
  .tribe-events-month table
    .tribe-events-last
      background: $wooSingleButton


#tribe-events-content
  .tribe-events-calendar
    div[id*=tribe-events-event-]
      h3.tribe-events-month-event-title
        font-family: $shopButtonFont
        font-weight: bold
        font-size: 12px
        line-height: 1.3
        a
          color: $textColor
      .tribe-events-tooltip
        h3.entry-title
        font-family: $shopButtonFont
        font-weight: bold
        font-size: 14px
        line-height: 1.29
