.form-page
	.site-container
		background-image: -webkit-linear-gradient(bottom, #006ca9, #003a70)
		background-image: -o-linear-gradient(bottom, #006ca9, #003a70)
		background-image: linear-gradient(to top, #006ca9, #003a70)
		.site-inner .content
			min-height: 50vh
			display: flex
			justify-content: center
			align-items: center
			padding: 100px 0
			.entry
				width: 100%
		.entry-title
			color: white
			text-align: center
		input[type="submit"]
			text-align: center
			width: 100%
			margin-bottom: 8px
		label
			color: $accentColor
			margin-top: 15px
			display: block
		select
			margin-bottom: 35px
		form
			max-width: 336px
			margin: 0 auto
			a
				color: white
				text-decoration: underline
				text-align: center
				font-family: $buttonFont
				display: block
				text-transform: uppercase
				font-size: 11px
				font-size: 1.1rem
				&:hover
					color: $linkColor


.progress-form-page
	.site-inner
		margin-bottom: 100px
		input, textarea, select
			margin: 10px 0 30px

.success-message, .error-message
	padding: 15px
	background: $green
	color: white
	border-radius: 5px

.error-message
	background: $red

// fast form page styles
.fast-form
	.site-container
		form
			max-width: 50% 
