.upcoming-events-section
	padding: 170px 0 152px
	background: white
	h1
		text-align: center
		margin-bottom: 100px
	.view-more-events-container
		text-align: center
		margin-top: 70px
		float: left
		width: 100%
	.view-more-events
		text-decoration: underline
		font-family: $buttonFont
		font-size: 11px
		font-size: 1.1rem
	.event-block
		display: flex
		box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.27)
		.event-date
			background: $darkBlue
			font-family: $headingFont
			color: white
			width: 50%
			float: left
			display: flex
			align-items: center
			justify-content: center
			font-size: 36px
			font-size: 3.6rem
			line-height: 45px
		.event-details
			padding: 32px 21px 32px 47px

.certifications-list
	width: 100%
	float: left
	margin-top: 50px
	.certification
		background: $darkBlue
		color: white
		padding: 53px 59px
		max-width: 732px
		margin: 50px auto
		h3
			color: white
			font-size: 16px
			font-size: 1.6rem
			margin-bottom: 30px
		p
			font-size: 16px
			font-size: 1.6rem
		a
			color: $linkColor
		a:hover
			color: white
		.dashicons
			margin-right: 20px
			color: $linkColor