.item
  background: $backgroundColor
  margin: 0 auto 3%
  text-align: left
  padding: 1.5%
  line-height: 30px
  h3.title
    color: $accentColor
    font-family: $headingFont
    font-size: 18px
    margin: 0
    padding: 0
    line-height: 30px
  p.students, p.date
    color: $accentColor
    font-family: $bodyFont
    font-size: 12px
    line-height: 30px
    margin: 0
    padding: 0
  h3.title, p.students, p.date
    margin-left: 10px
