.page-template-organization-trainings
  .entry-content
    margin-bottom: 100px
  .organizations-trainings
    max-width: 40%
    margin: 0 auto
    .training
      margin-top: 3%
      background: $backgroundColor
      .training-text p
        color: $footerTextColor
        padding-top: 30%
        padding-left: 5%
        font-size: 18px
        font-family: $headingFont
