.woocommerce.post-type-archive-product
  .content
    text-align: center
    header.woocommerce-products-header
      padding-top: 7%
      padding-bottom: 2%
    .woocommerce-products-header__title h1
      font-family: $headingFont
      font-size: 36px
    .products
      .product
        text-align: left
        .price, .added_to_cart
          display: none
        .product_type_simple.add_to_cart_button, .product_type_subscription.add_to_cart_button
          font-family: $buttonFont
          font-size: 13px
          background-color: $linkColor !important
          color: $footerTextColor
          padding: 7%
          &:after
            content: ''
            margin-left: 0


.woocommerce-result-count, .woocommerce-page .woocommerce-result-count
  font-family: $buttonFont
  .product
    .woocommerce-loop-product__title
      font-family: $shopButtonFont
      color: $textColor

.view-shop
  .products
    margin-left: 0
    margin-bottom: 120px
    width: 100%
    float: left
    li
      width: 50%
      float: left
      list-style-type: none
