.woocommerce
  .entry-title
    text-align: center    
    .entry-header h1
      font-family: $headingFont
      font-size: 36px

  .woocommerce-result-count, .woocommerce-page .woocommerce-result-count
    font-family: $buttonFont
  .product
    .woocommerce-loop-product__title
      font-family: $shopButtonFont
      color: $textColor
    .add_to_cart_button
      font-family: $buttonFont
      font-size: 11px
      background: $linkColor
      color: $accentColor
      padding: 8% 8% 8% 8%
      &:after
        content: ''
        margin-left: 0
