.single-product
  .content
    .product
      .woocommerce-tabs
        #tab-title-description, #tab-title-reviews
          font-family: $shopButtonFont
          font-size: 16px
        #tab-description
          p
            font-family: $buttonFont
            font-weight: normal
            line-height: 2



      .summary
        .product_title
          font-family: $headingFont
          font-size: 24px
          text-align: left
        .cart
          .quantity
            .input-text
              border-radius: 3px
              padding: 13px
        .product_meta
          .posted_in
            font-family: $buttonFont
            a
              color: $textColor







.woocommerce ul.products li.product .price
  display: none


  .woocommerce-result-count, .woocommerce-page .woocommerce-result-count
    font-family: $buttonFont
  .product
    button.button.alt
      font-family: $shopButtonFont
      color: $textColor
