.certifications
  max-width: 85%
  margin: 0 auto
  .entry-title
    font-size: 18px
  .certification-single
    .certification-description
      max-width: 80%
      font-size: 14px
      font-family: $bodyFont
      font-weight: 300
      line-height: 2.29
      margin-bottom: 3%
    .certification-links
      font: $headingFont
      font-size: 16px
      .transcript, .training
        min-width: 296px
        background: $backgroundColor
        img
          margin-left: 15%
      .transcript
        img
          margin-left: 30%
      .button:nth-child(2)
        margin-left: 20%
      a
        color: #ffffff
