.certifications
  max-width: 60%
  margin-left: 20%
  .certification-single
    max-width: 80%
    .certification-description
      max-width: 60%
      .certification-links
        font: $headingFont
        font-size: 16px
        a
          background: $backgroundColor
          color: #ffffff
