.top-matter
  margin: 60px 0  
  .entry-title
    font-family: $headingFont
  .user-name
    font-family: $bodyFont
    text-align: right
    font-size: 14px
    font-size: 1.4rem
    display: inline-block
    p
      display: inline-block
      span
        margin-left: 10px
    a
      color: black
